body {
  font-family: "Metrophobic", sans-serif;
  background-color: white;
  font-size: 30px;
  background: url(../pictures/default_background.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

form div {
  display: flex;
  justify-content: center;
}

input {
  font-size: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 280px;
}

button,
#submit {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
  -webkit-box-shadow: 3px 4px 0px 0px #899599;
  box-shadow: 3px 4px 0px 0px #899599;
  background: --webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ededed),
    color-stop(1, #bab1ba)
  );
  background: -moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: -webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: -o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: -ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
  background-color: #ededed;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  font-size: 28px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  margin-bottom: 20px;
}

button:hover,
#submit:hover {
  background: --webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #bab1ba),
    color-stop(1, #ededed)
  );
  background: -moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background: -webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background: -o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background: -ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
  background-color: #bab1ba;
}

button:active,
#submit:active {
  position: relative;
  top: 1px;
}

div#errorMessage,
div#loading,
div#icon,
div#conversionButtons {
  display: flex;
  justify-content: center;
}

#description {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#temperature {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#errorMessage {
  color: red;
  font-weight: bold;
}

#loading {
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
}

.invisible {
  display: none !important;
}
